@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: linear-gradient(
      to bottom, rgb(236, 72, 153), rgb(239, 68, 68), rgb(234, 179, 8))
}

@media (prefers-color-scheme: dark) {
  :root {
    background: linear-gradient(
      to bottom, rgb(236, 72, 153), rgb(239, 68, 68), rgb(234, 179, 8))
  }
}

body {
    background: linear-gradient(
      to bottom, rgb(236, 72, 153), rgb(239, 68, 68), rgb(234, 179, 8))
}
